body{
	background-color: #118ab2;
}

h1{
  background-color: #ffd166;
  font-family: "Lucida Console", "Courier New", monospace;;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

h3{
	font-family: "Lucida Console", "Courier New", monospace;
}


.gambar1{
	width: 50%;
}

.gambar2{
	width: 50%;
}

.gambar3{
	width: 50%;
}

.menu1{
	float: left;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
	width: 30%;
	background-color: #06d6a0;
	margin-left: 3.5%;
}


.menu2{
	float: left;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
	width: 30%;
	background-color: #06d6a0;
	padding-right: 20px;
}


.menu3{
	float: left;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
	width: 30%;
	background-color: #06d6a0;
	margin-right: 4%;
	padding-left: 20px;
}

.footer {
	padding: 2px;
	font-size: 10px;
	text-align: center;
	background-color: #ffd166;
	margin-top: 35%;
}


@media screen and (max-width : 800px) {
	.menu1, .menu2, .menu3 {
		margin-left: 0%;
		width: 100%;
		padding: 0;
	}
}

