#background{
  background-color: bisque;
  width: auto;
  border: 15px solid grey;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th, td {
  padding: 1rem 1.5rem;
  text-align: left;
}
th {
  background-color: #008c5f;
  color: #fff;
  font-weight: 600;
}
tr {
  padding: 0;
}
td {
  vertical-align: top;
}
tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, .075);
}