body{
	background-color: #118ab2;
}

h1{
  background-color: #ffd166;
  font-family: "Lucida Console", "Courier New", monospace;;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

table{
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
	width: 25%;
	border-spacing: 20px;

}

h4{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 20px;
	color: white;
}

.footer {
	padding: 2px;
	font-size: 10px;
	text-align: center;
	background-color: #ffd166;
	margin-top: 23%;
}